<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{>header}}</br>
    This is an about page rendered by handlebars view engine.</br>kj
    <p>{{welcomeMsg}}</p>
    {{> footer}}
  </body>
</html>
