<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    {{> header}}
    <p> <a href="/about"> About</a> </p>
    <p> <a href="/help.html">Help</a> </p>
    <p> <a href="/projects">Projects</a> </p>
    <h1>HOME PAGE</h1>
    {{>footer}}
  </body>
</html>
